.introduction {
  background-image: url('./assets/images/trees_1.avif');
  background-size: cover;
}

/* Fix for header going over section in href */
#introduction,
#about,
#experience,
#projects,
#contact::before { 
  margin-top: -4.75rem; 
  padding-top: 4.75rem; 
}

/* Side panel CSS  */
.hide-side-panel {
  transform: translateX(100%);
  visibility: hidden;
}

.show-side-panel {
  transform: translateX(0);
  visibility: visible;
  
}

.show-side-panel {
  transition: transform 300ms ease;
}

.show-side-panel-background {
  visibility: visible;
}