:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Lato";
	src: url("./fonts/Lato-Regular.ttf");
}

@font-face {
	font-family: "Crimson Text";
	src: url("./fonts/CrimsonText-Regular.ttf");
}

@layer components {
	.card {
		background-color: theme("colors.white");
		border-radius: theme("borderRadius.lg");
		padding: theme("spacing.6");
		box-shadow: theme("boxShadow.xl");
	}
	/* ... */
}


li:before {
	content: "> ";
	font-weight: 500;
	color: red;
	/* padding-right: 5px; */
}
