:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: blue red;
} */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
	@apply bg-light-shade m-1;
}

*::-webkit-scrollbar-thumb {
  @apply bg-dark-accent rounded-full bg-opacity-75;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-100;
}

@font-face {
	font-family: "Lato";
	src: url("./fonts/Lato-Regular.ttf");
}

@font-face {
	font-family: "Crimson Text";
	src: url("./fonts/CrimsonText-Regular.ttf");
}

@layer base {
  html {
    @apply text-light-shade;
  } 
}


@layer components {
	.card {
		@apply bg-light-shade rounded-md p-6 shadow-lg shadow-black text-black h-full;
	}
	/* ... */
}

@layer components {
	.badge {
		@apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-dark-accent text-white mr-2;
	}
	/* ... */
}

@layer components {
	.input-text {
		@apply rounded-md bg-black w-full p-2;
	}
	/* ... */
}

@layer components {
	.default-btn {
		@apply rounded-md bg-main-brand-color p-2;
	}
	/* ... */
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  /* 50% {
    opacity: 0.5;
    transform: translateY(5px);
  } */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loading-text {
  animation: loading 1s 1 ease-in-out;
}

li:before {
	content: "> ";
	font-weight: 500;
	@apply text-light-accent;
	/* padding-right: 5px; */
}
