:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Lato";
	src: url("./fonts/Lato-Regular.ttf");
}

@font-face {
	font-family: "Crimson Text";
	src: url("./fonts/CrimsonText-Regular.ttf");
}

@layer base {
  html {
    @apply text-light-shade;
  } 
}


@layer components {
	.card {
		@apply bg-light-shade rounded-md p-6 shadow-lg shadow-black text-black;
	}
	/* ... */
}

@layer components {
	.input-text {
		@apply rounded-md bg-black w-full p-2;
	}
	/* ... */
}

@layer components {
	.default-btn {
		@apply rounded-md bg-main-brand-color p-2;
	}
	/* ... */
}


li:before {
	content: "> ";
	font-weight: 500;
	@apply text-light-accent;
	/* padding-right: 5px; */
}
